<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<section>
<!--  Slider Carousel Start-->
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/Alloys.jpg" class="d-block w-100" alt="..." height="450px" width="200px">
            </div>
            <div class="carousel-item">
                <img src="img/Garage.jpg" class="d-block w-100" alt="..." height="450px" width="200px">
            </div>
            <div class="carousel-item">
                <img src="img/Music.jpg" class="d-block w-100" alt="..." height="450px" width="200px">
            </div>
            <div class="carousel-item">
                <img src="img/Silencer.jpg" class="d-block w-100" alt="..." height="450px" width="200px">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--  Slider Carousel End-->

    <!-- Category Module Start-->
    <div class="container">
        <div class="row">
            <p class="text-center fs-4">Category</p>
            <div class="col-md-2">
                <div class="card rounded-circle ">
                    <div class="card-body text-center">
                        <img src="img/category/bumper.jpg" width="65%" height="140px">
                        <p>Bumpers</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card rounded-circle ">
                    <div class="card-body text-center">
                        <img src="img/category/foglights.jpg" width="65%" height="140px">
                        <p>Foglights</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card rounded-circle ">
                    <div class="card-body text-center">
                        <img src="img/category/interior.jpg" width="65%" height="140px">
                        <p>Car Interiors</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card rounded-circle ">
                    <div class="card-body text-center">
                        <img src="img/category/silencer_valve.jpg" width="65%" height="140px">
                        <p>Silencers</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card rounded-circle ">
                    <div class="card-body text-center">
                        <img src="img/category/splitters.jpg" width="65%" height="140px">
                        <p>Splitters</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card rounded-circle ">
                    <div class="card-body text-center">
                        <img src="img/category/spolier.jpg" width="65%" height="140px">
                        <p>Spoilers</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Category Module End-->

<!--  Latest product Module Start-->

    <div class="container-fluid bg-light p-3">
        <div class="row">
            <p class="text-center fs-4">Latest Product</p>

            <div class="col-md-3">
                <div class="card ">
                    <div class="card-body text-center">
                        <img src="img/Products/Bumpers.jpg" width="65%" height="140px">
                        <p>Bumpers</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card ">
                    <div class="card-body text-center">
                        <img src="img/Products/Bumpers.jpg" width="65%" height="140px">
                        <p>Bumpers</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card ">
                    <div class="card-body text-center">
                        <img src="img/Products/Bumpers.jpg" width="65%" height="140px">
                        <p>Bumpers</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card ">
                    <div class="card-body text-center">
                        <img src="img/Products/Bumpers.jpg" width="65%" height="140px">
                        <p>Bumpers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Latest product Module End-->


</body>
</html>