<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<section>
    <!--  Register Page start-->
    <div class="container mt-5 pd-5">
        <div class="row">
            <div class="col-md-5 p-5">
                <img alt="" height="400px" src="img/Alloys.jpg" width="100%">
            </div>
            <div class="col-md-7 p-1">
                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header">
                        <p class="fs-4 text-center">Register</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Full Name</label> <input class="form-control" name="name"
                                                                                       type="text">
                                </div>
                                <div class="col">
                                    <label class="form-label">Mobile Number</label> <input class="form-control"
                                                                                           name="mobile number"
                                                                                           type="number">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Email</label> <input class="form-control"
                                                                                   name="email"
                                                                                   type="email">
                                </div>
                            </div>
                                <div class="row">
                                <div class="col">
                                    <label class="form-label">Address</label> <input class="form-control"
                                                                                     name="address"
                                                                                     type="text">
                                </div>

                                <div class="col">
                                    <label class="form-label">City</label> <input class="form-control"
                                                                                  name="city"
                                                                                  type="text">
                                </div>
                                    <div class="row">
                                <div class="col">
                                    <label class="form-label">State</label> <input class="form-control"
                                                                                   name="city"
                                                                                   type="text">
                                </div>

                                <div class="col">
                                    <label class="form-label">Pincode</label> <input class="form-control"
                                                                                     name="pincode"
                                                                                     type="number">
                                </div>
                                        <div class="row">
                                <div class="col">
                                    <label class="form-label">Password</label> <input class="form-control"
                                                                                      name="password"
                                                                                      type="text">
                                </div>

                                <div class="col">
                                    <label class="form-label">Confirm Password</label> <input class="form-control"
                                                                                              name="cpassword"
                                                                                              type="password">
                                </div>
                                    </div>
                                        <div class="row">
                                <div class="col">
                                    <label class="form-label">Profile Image</label> <input class="form-control"
                                                                                           name="profile_image"
                                                                                           type="file"><br>
                                </div>
                            </div>


                            <br><button class="btn bg-primary text-white col-md-12" type="submit">Register</button>

                        </form>
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        Have an account ?
                        <a class="text-decoration-none" href="/login">Login</a><br>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--  Register Page End-->
</section>


</body>
</html>